
@import url(https://fonts.googleapis.com/css?family=Khula:700);

.hidden {
  opacity:0;
}
.fixed-height {
  height: 10em;
  position: relative;
}
.console-container {
  font-family:Khula;
  font-size:4em;
  text-align:center;
  color:white;
}
.console-underscore {
  position: absolute;
  top: 0;
  right: 0;
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgb(245, 198, 188) !important;
}

.bg-secondary {
    --bs-bg-opacity: 1;
    background-color: rgb(241, 145, 155) !important;
}
